{%extends "ProyectoEmpBundle::layout.html.twig"%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
{% endblock %}

{%block content %}


    <link type="text/css" rel="stylesheet" href="chosen.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" type="text/javascript"></script>
    <javascript type="text/javascript"  src="chosen.jquery.min.js"> </script> 
    <javascript type="text/javascript"  src="chosen.jquery.js"> </script> 

    
    
    <div class="col-lg-6">
        <h1> Editar Curriculum </h1>
        {% for message in app.session.flashbag().get("status") %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}

        {{ form_start(form)}}
        <script type="text/javascript">
                $(document).ready(function() {
                        $(".idioma").select2();
                });

        </script>

        {{ form_end(form)}}

    </div>
    <div classe="clearfix"> </div>  


    {%endblock %}






